<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tim.moneybook"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:name="com.tim.moneybook.MoneyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.tim.moneybook.AddItemActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tim.moneybook.ShowdataActivity" >
        </activity>
    </application>

</manifest>